In [10]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [3]:
heart_data = pd.read_csv(r"E:\python\mathmatic\datas\heart.csv")
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [5]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [7]:
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [8]:
X = heart_data.drop(columns='target', axis=1)
y = heart_data['target']

In [9]:
X = np.asarray(X)
y = np.asarray(y)

In [12]:
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier(random_state=0), LinearRegression()]

In [16]:
def compare_models_cross_validation():
    for model in models:
        cv_score = cross_val_score(model, X, y, cv=5)
        mean_accuracy = sum(cv_score) / len(cv_score)
        mean_accuracy = mean_accuracy * 100
        mean_accuracy = round(mean_accuracy, 2)
        print(f"The accuracy for model {model} is {cv_score}")
        print(f"Finall accuracy of model {model} is {mean_accuracy} %")
        print("__________________________________________________________")

In [17]:
compare_models_cross_validation()

The accuracy for model LogisticRegression(max_iter=1000) is [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Finall accuracy of model LogisticRegression(max_iter=1000) is 82.83 %
__________________________________________________________
The accuracy for model SVC(kernel='linear') is [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Finall accuracy of model SVC(kernel='linear') is 82.83 %
__________________________________________________________
The accuracy for model KNeighborsClassifier() is [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Finall accuracy of model KNeighborsClassifier() is 64.39 %
__________________________________________________________
The accuracy for model RandomForestClassifier(random_state=0) is [0.85245902 0.90163934 0.81967213 0.81666667 0.8       ]
Finall accuracy of model RandomForestClassifier(random_state=0) is 83.81 %
__________________________________________________________
The accuracy for model LinearRegression() is [0.        0.        0.3266887 0.        0.       ]
Finall accuracy of model LinearRegression() is 6.53 %
__________________________________________________________

In [19]:
models_list = [LogisticRegression(max_iter=10000), SVC(), KNeighborsClassifier(), RandomForestClassifier(random_state=0)]

In [20]:
model_hyperparameters = {
    'Log_reg_hyperparameters':{
        'C':[1, 5, 10, 20]
    },
    
        'svc_hyperparameters':{
            'kernel':['linear', 'poly', 'rbf', 'sigmoid'],
            'C':[1, 5, 10, 20]
    },
    'knn_hyperparameters':{
        'n_neighbors': [3, 5, 10]
    },
    
    'random_forest_classifier': {
        'n_estimators': [10, 20, 50, 100]
    }
}

In [22]:
model_keys = list(model_hyperparameters.keys())
model_keys

['Log_reg_hyperparameters',
 'svc_hyperparameters',
 'knn_hyperparameters',
 'random_forest_classifier']

In [33]:
def ModelSelection(models1, hyperparameters_dictionary):
    result = []
    i = 0
    for model in models1:
        key = model_keys[i]
        params = hyperparameters_dictionary[key]
        i += 1
        print(model)
        print(params)
        print("_______________________________________________")
        
        classifier = GridSearchCV(model, params, cv=5)
        classifier.fit(X, y)
        result.append({
            'model_used': model, 
            'highest_score': classifier.best_score_,
            'best_hyperparameters': classifier.best_params_
        })
    result_dataframe = pd.DataFrame(result, columns=['model_used', 'highest_score', 'best_hyperparameters'])
    return result_dataframe

In [34]:
ModelSelection(models_list, model_hyperparameters)

LogisticRegression(max_iter=10000)
{'C': [1, 5, 10, 20]}
_______________________________________________
SVC()
{'kernel': ['linear', 'poly', 'rbf', 'sigmoid'], 'C': [1, 5, 10, 20]}
_______________________________________________
KNeighborsClassifier()
{'n_neighbors': [3, 5, 10]}
_______________________________________________
RandomForestClassifier(random_state=0)
{'n_estimators': [10, 20, 50, 100]}
_______________________________________________

,model_used,highest_score,best_hyperparameters
0,LogisticRegression(max_iter=10000),0.831585,{'C': 5}
1,SVC(),0.828306,"{'C': 1, 'kernel': 'linear'}"
2,KNeighborsClassifier(),0.643880,{'n_neighbors': 5}
3,RandomForestClassifier(random_state=0),0.838087,{'n_estimators': 100}